<%- include ../doctype.html%>
<head>
    <%var head={title:__('loginAndRegister')};%>
    <%- include ../head.html%>
</head>

<body class="boxed">
<div id="wrapper">
    <%var header={nav:'account'};%>
    <%- include ../header.html%>

    <!-- Titlebar
================================================== -->
    <section class="titlebar">
        <div class="container">
            <div class="sixteen columns">
                <h2><%= __('myAccount')%></h2>

                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"><%= __('home')%></a></li>
                        <li><a href="/account"><%= __('myAccount')%></a></li>
                        <li><%= __('loginAndRegister')%></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>


    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container">

        <div class="six columns centered">

            <ul class="tabs-nav my-account">
                <li class="active"><a href="#tab1"><%= __('login')%></a></li>
                <li><a href="#tab2"><%= __('register')%></a></li>
            </ul>

            <div class="tabs-container">
                <!-- Login -->
                <div class="tab-content" id="tab1" style="">

                    <h3 class="headline"><%= __('login')%></h3><span class="line" style="margin-bottom:20px;"></span><div class="clearfix"></div>

                    <form method="post" class="login">


                        <p class="form-row form-row-wide">
                            <label><%= __('email')%>: <span class="required">*</span>
                            <input type="text" class="input-text" name="email" value="">
                            </label>
                            <span class="required ui-msg-text"></span>
                        </p>

                        <p class="form-row form-row-wide">
                            <label><%= __('password.text')%>: <span class="required">*</span>
                            <input class="input-text" type="password" name="passwd">
                            </label>
                            <span class="required ui-msg-text"></span>
                        </p>

                        <div class="notification error closeable" style="display: none;">
                            <p><span class="ui-error-msg">Error!</span></p>
                            <a class="close" href="#"></a>
                        </div>

                        <input type="hidden" style="display: none;" name="_csrf" value="<%= _csrf%>">

                        <p class="form-row">
                            <input type="submit" class="button ui-submit" name="login" value="<%= __('login')%>">
                            <input type="button" class="button disabled ui-submitting" style="display: none;" value="<%= __('submit.ing')%>...">

                            <label for="rememberme" class="rememberme">
                                <input name="rememberme" type="checkbox" id="rememberme" value="1"> <%= __('rememberMe')%></label>
                        </p>

                        <p class="lost_password">
                            <a href="#"><%= __('password.lost')%>?</a>
                        </p>


                    </form>
                </div>

                <!-- Register -->
                <div class="tab-content" id="tab2" style="display: none;">

                    <h3 class="headline"><%= __('register')%></h3><span class="line" style="margin-bottom:20px;"></span><div class="clearfix"></div>

                    <form method="post" class="register">

                        <p class="form-row form-row-wide">
                            <label for="reg_email"><%= __('email')%>: <span class="required">*</span></label>
                            <input type="email" class="input-text" name="email" id="reg_email" value="">
                            <span class="required ui-msg-text"></span>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="reg_nick"><%= __('username')%>: <span class="required">*</span></label>
                            <input type="text" class="input-text" name="nick" id="reg_nick" value="">
                            <span class="required ui-msg-text"></span>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="reg_password"><%= __('password.text')%>: <span class="required">*</span></label>
                            <input type="password" class="input-text" name="passwd" id="reg_password">
                            <span class="required ui-msg-text"></span>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="reg_password2"><%= __('password.repeat')%>: <span class="required">*</span></label>
                            <input type="password" class="input-text" name="repasswd" id="reg_password2">
                            <span class="required ui-msg-text"></span>
                        </p>

                        <div class="notification error closeable" style="display: none;">
                            <p><span class="ui-error-msg">Error!</span></p>
                            <a class="close" href="#"></a>
                        </div>

                        <input type="hidden" style="display: none;" name="_csrf" value="<%= _csrf%>">

                        <p class="form-row">
                            <input type="submit" class="button ui-submit" name="register" value="<%= __('register')%>">
                            <input type="button" class="button disabled ui-submitting" style="display: none;" value="<%= __('submit.ing')%>...">
                        </p>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include ../footer.html%>
</div>
</body>

<script data-main="app/account/loginAndRegMain" src="/scripts/lib/require.js"></script>
