<%- include ../doctype.html%>
<head>
    <%var head={title:'payment success'};%>
    <%- include ../head.html%>
</head>

<body class="boxed">
<div id="wrapper">
    <%var header={nav:''};%>
    <%- include ../header.html%>

    <!-- Titlebar
================================================== -->
    <!--<section class="titlebar">
        <div class="container">
            <div class="sixteen columns">
                <h2><%= __('aboutUs')%></h2>

                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"><%= __('home')%></a></li>
                        <li><%= __('aboutUs')%></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>-->

    <!-- Container -->
    <div class="container">

        <div class="sixteen columns">
            <section id="not-found">
                <h2>Success <i class="fa fa-check-circle"></i></h2>
                <p>Payment Success!</p>
            </section>
        </div>

    </div>
    <!-- Container / End -->

    <%- include ../footer.html%>
</div>
</body>
<script data-main="app/about/indexMain" src="/scripts/lib/require.js"></script>
