<!-- Top Bar
================================================== -->
<div id="top-bar">
    <div class="container">

        <!-- Top Bar Menu -->
        <div class="ten columns">
            <ul class="top-bar-menu">
                <li><i class="fa fa-phone"></i> (564) 123 4567</li>
                <li><i class="fa fa-envelope"></i> <a href="mailto:contact@land-mark-shop.com">contact@land-mark-shop.com</a></li>
                <li>
                    <div class="top-bar-dropdown ui-language-dropdown" data-value="<%= getLocale()%>">
                        <span></span>
                        <ul class="options">
                            <li><div class="arrow"></div></li>
                            <li><a href="#" data-value="en-us">English</a></li>
                            <li><a href="#" data-value="zh-cn">中文简体</a></li>
                            <li><a href="#" data-value="zh-hk">中文繁體</a></li>
                        </ul>
                    </div>
                </li>
                <!--<li>
                    <div class="top-bar-dropdown">
                        <span>USD</span>
                        <ul class="options">
                            <li><div class="arrow"></div></li>
                            <li><a href="#">USD</a></li>
                            <li><a href="#">PLN</a></li>
                            <li><a href="#">EUR</a></li>
                        </ul>
                    </div>
                </li>-->
            </ul>
        </div>

        <!-- Social Icons -->
        <div class="six columns">
            <ul class="social-icons">
                <%if ('zh-cn' == getLocale()){%>
                <li><a class="font-awesome qq" href="#"><i class="icon-qq"></i></a></li>
                <li><a class="font-awesome wechat" href="#"><i class="icon-wechat"></i></a></li>
                <li><a class="font-awesome weibo" href="#"><i class="icon-weibo"></i></a></li>
                <%}%>
                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                <!--<li><a class="dribbble" href="#"><i class="icon-dribbble"></i></a></li>
                <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                <li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>-->
                <%if ('zh-cn' != getLocale()){%>
                <li><a class="font-awesome qq" href="#"><i class="icon-qq"></i></a></li>
                <li><a class="font-awesome wechat" href="#"><i class="icon-wechat"></i></a></li>
                <li><a class="font-awesome weibo" href="#"><i class="icon-weibo"></i></a></li>
                <%}%>
            </ul>
        </div>

    </div>
</div>

<div class="clearfix"></div>


<!-- Header
================================================== -->
<div class="container">


    <!-- Logo -->
    <div class="four columns">
        <div id="logo" style="margin-top: 18px;">
            <h1><a href="/"><img src="/images/logo.png" alt="Landmark" /></a></h1>
        </div>
    </div>


    <!-- Additional Menu -->
    <div class="twelve columns">
        <div id="additional-menu">
            <%if (logonId){%>
            <ul>
                <li><a href="/account/carts"><%= __('shoppingCart')%></a></li>
                <li><a href="/account/wish-list"><%= __('wishList')%> <span>(0)</span></a></li>
                <!--<li><a href="#"><%= __('checkOut')%></a></li>-->
                <li><a href="/account"><%= __('myAccount')%></a></li>
                <li><a href="/logout" id="logout"><%= __('logout')%></a></li>
            </ul>
            <%}else{%>
            <ul>
                <li><a href="/login"><%= __('login')%></a></li>
                <li><a href="/reg"><%= __('register')%></a></li>
            </ul>
            <%}%>
        </div>
    </div>


    <!-- Shopping Cart -->
    <div class="twelve columns">
        <%if (logonId){%>
        <div id="cart">

            <!-- Button -->
            <div class="cart-btn">
                <a href="/account/carts" class="button adc">$0.00</a>
            </div>

            <div class="cart-list">

                <div class="arrow"></div>

                <div class="cart-amount">
                    <span><span class="js-cart-list-len" style="padding: 0 0;"></span> <%= __('cart.items')%></span>
                </div>

                <ul>
                </ul>

                <div class="cart-buttons button">
                    <a href="/account/carts" class="view-cart" ><span data-hover="View Cart"><span><%= __('cart.view')%></span></span></a>
                    <a href="#" class="checkout"><span data-hover="Checkout"><%= __('checkOut')%></span></a>
                </div>
                <div class="clearfix">

                </div>
            </div>

        </div>
        <%}%>

        <!-- Search -->
        <nav class="top-search">
            <form action="#" method="get">
                <button><i class="fa fa-search"></i></button>
                <input class="search-field" type="text" placeholder="<%= __('search')%>" value="">
            </form>
        </nav>

    </div>

</div>

<script type="text/template" id="cartListTpl">
    {%_.each(obj, function(item){%}
    <li>
        <a {%if(item.pid){%}href="/product/{%=item.pid%}"{%}else{%}href="/product/special_offer/{%=item.sid%}"{%}%}>
            <img src="/images/{%if(item.pid){%}products/{%=item.pid%}{%}else{%}special_offers/{%=item.sid%}{%}%}.jpg?v={%=item.img_version%}" alt="{%=item.desc%}" />
        </a>
        <a {%if(item.pid){%}href="/product/{%=item.pid%}"{%}else{%}href="/product/special_offer/{%=item.sid%}"{%}%}>{%=item.desc%}</a>
        <span>{%=item.qty%} x ${%=item.price_s%}</span>
        <div class="clearfix"></div>
    </li>
    {%});%}
</script>


<!-- Navigation
================================================== -->
<div class="container">
    <div class="sixteen columns">

        <a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i> Menu</a>

        <nav id="navigation">
            <ul class="menu" id="responsive">

                <li><a href="/" class="homepage <%if (header.nav=='home'){%>current<%}%>" title="<%= __('home')%>"><%= __('home')%></a></li>

                <li class="dropdown">
                    <a href="/products" <%if (header.nav=='products'){%>class="current"<%}%>><%= __('product.other')%></a>
                    <ul>
                        <li><a href="/products/all"><%= __('allProducts')%></a></li>
                        <li><a href="/products/special_offers"><%= __('allSpecialOffers')%></a></li>
                        <li><a href="/products/safe"><%= __('safeAndCertificates')%></a></li>
                    </ul>
                </li>


                <!--<li>
                    <a href="#">Features</a>
                    <div class="mega">
                        <div class="mega-container">

                            <div class="one-column">
                                <ul>
                                    <li><span class="mega-headline">Example Pages</span></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="404-page.html">404 Page</a></li>
                                </ul>
                            </div>

                            <div class="one-column">
                                <ul>
                                    <li><span class="mega-headline">Featured Pages</span></li>
                                    <li><a href="index-2.html">Business Homepage</a></li>
                                    <li><a href="shop-with-sidebar.html">Default Shop</a></li>
                                    <li><a href="blog-masonry.html">Masonry Blog</a></li>
                                    <li><a href="variable-product-page.html">Variable Product</a></li>
                                    <li><a href="portfolio-dynamic-grid.html">Dynamic Grid</a></li>
                                </ul>
                            </div>

                            <div class="one-column hidden-on-mobile">
                                <ul>
                                    <li><span class="mega-headline">Paragraph</span></li>
                                    <li><p>This <a href="#">Mega Menu</a> can handle everything. Lists, paragraphs, forms...</p></li>
                                </ul>
                            </div>

                            <div class="one-fourth-column hidden-on-mobile">
                                <a href="#" class="img-caption margin-reset">
                                    <figure>
                                        <img src="/images/menu-banner-01.jpg" alt="" />
                                        <figcaption>
                                            <h3>Jeans</h3>
                                            <span>Pack for Style</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>

                            <div class="one-fourth-column hidden-on-mobile">
                                <a href="#" class="img-caption margin-reset">
                                    <figure>
                                        <img src="/images/menu-banner-02.jpg" alt="" />
                                        <figcaption>
                                            <h3>Sunglasses</h3>
                                            <span>Nail the Basics</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>-->

                <li class="dropdown">
                    <a href="#"><%= __('brand.other')%></a>
                    <ul>
                        <li><a href="#"><%= __('lmp')%></a></li>
                        <li><a href="#"><%= __('ume')%></a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" <%if (header.nav=='account'){%>class="current"<%}%>><%= __('myAccount')%></a>
                    <ul>
                        <li><a href="/account/carts"><%= __('shoppingCart')%></a></li>
                        <li><a href="#"><%= __('wishList')%></a></li>
                        <li><a href="#"><%= __('order.other')%></a></li>
                        <li><a href="#"><%= __('record.trade_s')%></a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#"><%= __('aboutUs')%></a>
                    <ul>
                        <li><a href="#"><%= __('contactUs')%></a></li>
                        <li><a href="#"><%= __('joinUs')%></a></li>
                    </ul>
                </li>


                <!--<li class="dropdown">
                    <a href="#">Blog</a>
                    <ul>
                        <li><a href="blog-standard.html">Blog Standard</a></li>
                        <li><a href="blog-masonry.html">Blog Masonry</a></li>
                        <li><a href="blog-single-post.html">Single Post</a></li>
                    </ul>
                </li>-->


                <li class="demo-button">
                    <a href="#">FAQ</a>
                </li>

            </ul>
        </nav>
    </div>
</div>