<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title><%= head.title%></title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/colors/green.css" id="colors">

<!--[if lt IE 9]>
<script src="/scripts/lib/html5.js"></script>
<![endif]-->

<script src="/scripts/app/config.js?{version}"></script>
<script type="text/javascript">
    _i18n('<%= getLocale()%>');
    _params({
        lang : '<%= getLocale()%>',
        uid : '<%= logonId%>',
        _csrf : '<%= _csrf%>'
    });
</script>