<%- include ../doctype.html%>
<head>
    <%var head={title:product.name};%>
    <%- include ../head.html%>
</head>

<body class="boxed">
<div id="wrapper">
    <%var header={nav:'products'};%>
    <%- include ../header.html%>

    <!-- Titlebar
================================================== -->
    <section class="titlebar">
        <div class="container">
            <div class="sixteen columns">
                <h2><%= product.name%></h2>

                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"><%= __('home')%></a></li>
                        <li><%= __('product.other')%></li>
                        <li><%= product.name%></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <div class="container">
    <!-- Slider
================================================== -->
    <div class="eight columns" >
        <div class="slider-padding">
            <!--<div id="product-slider" class="royalSlider rsDefault">
                <img class="rsImg" style="margin: auto;" src="/images/products/<%=product.id%>.jpg?v=<%=product.img_version%>" data-rsTmb="/images/products/<%=product.id%>.jpg?v=<%=product.img_version%>" alt="" />
            </div>-->
            <img class="rsImg" style="margin: auto;" src="/images/products/<%=product.id%>.jpg?v=<%=product.img_version%>" alt="" />
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Content
================================================== -->
    <div class="eight columns">
        <div class="product-page">

            <!-- Headline -->
            <section class="title">
                <h2><%= product.name%></h2>
                <span class="product-price">$<%= product.price_s%></span>

                <!--<div class="reviews-counter">
                    <div class="rating five-stars">
                        <div class="star-rating"></div>
                        <div class="star-bg"></div>
                    </div>
                    <span>3 Reviews</span>
                </div>-->
            </section>

            <!-- Text Parapgraph -->
            <section>
                <p class="margin-reset">
                    <%- product.summary%>
                </p>
                <!-- Share Buttons -->
                <!--<div class="share-buttons">
                    <ul>
                        <li><a href="#">Share</a></li>
                        <li class="share-facebook"><a href="#">Facebook</a></li>
                        <li class="share-twitter"><a href="#">Twitter</a></li>
                        <li class="share-gplus"><a href="#">Google Plus</a></li>
                        <li class="share-pinit"><a href="#">Pin It</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>-->

            </section>
            <%if(offers.length){%>
            <section>
                <a href="#relatedOffers"><%= __('specialOffer.findMore')%></a>
            </section>
            <%}%>

            <section class="mid-linking">

                <form action='#'>
                    <div class="qtyminus"></div>
                    <input type='text' name="quantity" id="quantity" value='1' class="qty" />
                    <div class="qtyplus"></div>
                </form>
                <div class="clearfix"></div>
            </section>
            <section class="linking">
                <a href="#" id="addToCartBtn" class="button adc js-add-to-cart" data-sid="<%= product.sid%>" data-pid="<%= product.id%>" data-qty="1" style="margin-left: 0;"><%= __('addToCart')%></a>
                <a href="#" class="button atw"><%= __('addToWishList')%></a>
                <div class="clearfix"></div>
            </section>

        </div>
    </div>
        </div>

    <div class="container">
        <div class="sixteen columns">
            <!-- Tabs Navigation -->
            <ul class="tabs-nav">
                <li class="active"><a href="#tab1"><%= __('feature')%></a></li>
                <li><a href="#tab2"><%= __('supplementFacts')%></a></li>
                <li><a href="#tab3"><%= __('usage')%></a></li>
            </ul>

            <!-- Tabs Content -->
            <div class="tabs-container">

                <div class="tab-content" id="tab1">
                    <%- product.feature%>
                </div>

                <div class="tab-content" id="tab2">
                    <%- product.parameters%>
                </div>

                <div class="tab-content" id="tab3">

                    <%- product.usage%>

                </div>

            </div>
        </div>
    </div>

    <%if(offers && offers.length){%>
    <!-- Related Products -->
    <div class="container margin-top-5" id="relatedOffers">

        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline"><%= __('specialOffer.related')%></h3>
            <span class="line margin-bottom-0"></span>
        </div>

        <!-- Products -->
        <div id="special-offers" class="showbiz-container sixteen columns" >

            <!-- Navigation -->
            <%if (offers.length>4){%>
            <div class="showbiz-navigation">
                <div id="showbiz_left_2" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
                <div id="showbiz_right_2" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
            </div>
            <%}%>
            <div class="clearfix"></div>

            <!-- Products -->
            <div class="showbiz" data-left="#showbiz_left_2" data-right="#showbiz_right_2" data-play="#showbiz_play_2" >
                <div class="overflowholder">

                    <ul>

                        <!-- Product #1 -->
                        <%offers.forEach(function(offer){%>
                        <li>
                            <figure class="product">
                                <div class="">
                                    <a href="/product/special_offer/<%= offer.id%>" target="_blank">
                                        <img alt="" style="height: 125px;margin: auto;" src="/images/special_offers/<%= offer.id%>.jpg?v=<%= offer.img_version%>">
                                    </a>
                                    <a href="#" class="product-button js-add-to-cart"><i class="fa fa-shopping-cart"></i> <%= __('addToCart')%></a>
                                </div>

                                <a href="/product/special_offer/<%= offer.id%>" target="_blank">
                                    <section>
                                        <h6><%= offer.name%></h6>
                                        <span class="product-price">$<%= offer.price%></span>
                                    </section>
                                </a>
                            </figure>
                        </li>
                        <%});%>

                    </ul>
                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <%}%>

    <%- include ../footer.html%>
</div>
</body>
<script data-main="app/product/indexMain" src="/scripts/lib/require.js"></script>
