<%- include ../doctype.html%>
<head>
    <%var head={title:'FAQ'};%>
    <%- include ../head.html%>
</head>

<body class="boxed">
<div id="wrapper">
    <%var header={nav:'faq'};%>
    <%- include ../header.html%>

    <!-- Titlebar
================================================== -->
    <section class="titlebar">
        <div class="container">
            <div class="sixteen columns">
                <h2>FAQ</h2>

                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"><%= __('home')%></a></li>
                        <li>FAQ</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <!-- Container -->
    <div class="container">
        <div class="sixteen columns">
            <h3 class="headline"><%= __('faq')%></h3><span class="line margin-bottom-25"></span><div class="clearfix"></div>
            <!--<p>Aliquam posuere erat et orci eleifend cursus. Nullam tempus odio sem, lacinia pellentesque neque mollis a. In ut tempor ligula. Vestibulum ultricies bibendum lorem, a sollicitudin tellus euismod vel. Nam suscipit, diam ut volutpat lobortis, nibh ipsum tempor nibh, a vehicula tellus justo id nibh. Nulla pretium mollis convallis. Phasellus a nibh aliquet, ullamcorper quam aliquam, faucibus nulla. Phasellus mollis tristique vehicula. Vivamus sagittis, sem sed posuere aliquet, massa odio lobortis.</p>-->
        </div>
    </div>
    <!-- Container / End -->

    <br />

    <!-- Container -->
    <div class="container margin-bottom-10">

        <!-- Toggles -->
        <div class="twelve columns">
            <div class="extra-padding">

                <!-- Toggle 1 -->
                <%list.forEach(function(item){%>
                <div class="toggle-wrap faq">
                    <span class="trigger opened"><a href="#"><i class="toggle-icon"></i> <%= item.question%> </a></span>
                    <div class="toggle-container">
                        <p><%= item.answer%></p>
                    </div>
                </div>
                <%});%>

            </div>
        </div>

        <!-- Sidebar -->
        <div class="four columns">
            <a href="/about/contact">
                <div class="content-box color-effect-1">
                    <h3><%= __('oneMoreQuestion')%>?</h3>

                    <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                        <div class="box-icon"><i class="fa  fa-mail-forward"></i></div>
                    </div>

                    <p><%= __('moreQuestionTip')%></p>
                </div>
            </a>
        </div>

    </div>
    <!-- Container / End -->

    <%- include ../footer.html%>
</div>
</body>
<script data-main="app/faq/indexMain" src="/scripts/lib/require.js"></script>
