<%- include ../doctype.html%>
<head>
    <%var head={title:__('product.other')};%>
    <%- include ../head.html%>
</head>

<body class="boxed">
<div id="wrapper">
    <%var header={nav:'products'};%>
    <%- include ../header.html%>

    <!-- Titlebar
================================================== -->
    <section class="titlebar">
        <div class="container">
            <div class="sixteen columns">
                <h2><%= __('product.other')%></h2>

                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/"><%= __('home')%></a></li>
                        <li><%= __('product.other')%></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

        <!-- Parallax Banner
================================================== -->
    <div class="parallax-banner fullwidth-element"  data-background="#000" data-opacity="0.5" data-height="235">
        <img src="/images/common/all_products.png" alt="<%= __('product.other')%>" />
        <div class="parallax-overlay"></div>
        <div class="parallax-title"><%= __('productsPageTitle')%> <span><%= __('productsPageSubTitle')%></span></div>
    </div>

    <div class="margin-top-40"></div>

    <div class="container">

    <!-- Portfolio Wrapper-->
    <div id="portfolio-wrapper">

        <!-- Portfolio Item -->
        <div class="one-third column portfolio-item clothing other">
            <figure>
                <div class="portfolio-holder">
                    <a href="/products/all">
                        <img alt="<%= __('product.all')%>" title="<%= __('product.all')%>" src="/images/common/aproducts.png">
                        <div class="hover-cover" title="<%= __('product.all')%>"></div>
                        <!--<div class="hover-icon"></div>-->
                    </a>
                </div>

                <a href="/products/all">
                    <section class="item-description">
                        <span><%= __('product.all')%></span>
                        <h5><%= __('madeInTheUSA')%></h5>
                    </section>
                </a>

            </figure>
        </div>

        <!-- Portfolio Item -->
        <div class="one-third column portfolio-item accessories clothing technology">
            <figure>
                <div class="portfolio-holder">
                    <a href="/products/special_offers">
                        <img alt="<%= __('specialOffer.all')%>" title="<%= __('specialOffer.all')%>" src="/images/common/specialoffer.png">
                        <div class="hover-cover" title="<%= __('specialOffer.all')%>"></div>
                        <!--<div class="hover-icon"></div>-->
                    </a>
                </div>

                <a href="/products/special_offers">
                    <section class="item-description">
                        <span><%= __('specialOffer.all')%></span>
                        <h5><%= __('saveYourMoney')%></h5>
                    </section>
                </a>

            </figure>
        </div>

        <!-- Portfolio Item -->
        <div class="one-third column portfolio-item clothing accessories">
            <figure>
                <div class="portfolio-holder">
                    <a href="/products/safe">
                        <img alt="<%= __('safeAndCertificates')%>" title="<%= __('safeAndCertificates')%>" src="/images/common/certificate.png">
                        <div class="hover-cover" title="<%= __('safeAndCertificates')%>"></div>
                        <!--<div class="hover-icon"></div>-->
                    </a>
                </div>

                <a href="/products/safe">
                    <section class="item-description">
                        <span><%= __('safeAndCertificates')%></span>
                        <h5><%= __('useItFreely')%></h5>
                    </section>
                </a>

            </figure>
        </div>
    <!-- Portfolio Wrapper / End -->

    </div>
    </div>

    <%- include ../footer.html%>
</div>
</body>

<script data-main="app/products/indexMain" src="/scripts/lib/require.js"></script>
